body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

a {
  color: #4183c4;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

code {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-family: "Bitstream Vera Sans Mono", Consolas, Courier, monospace;
  font-size: 12px;
  margin: 0 2px;
  padding: 0 5px;
}

h1, h2, h3, h4 {
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h1 {
  border-bottom: 1px solid #ddd;
  font-size: 2.5em;
  font-weight: bold;
  margin: 0 0 15px;
  padding: 0;
}

h2 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

p, ul {
  margin: 15px 0;
}

ul {
  padding-left: 30px;
}


#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
#main > app {
  padding: 15px;
  border: 8px double;
  text-align: Left;
  background: #add8e6;
  flex: 3 1 80%;
  order: 2;
}
#main > nav {
  padding: 5px;
  border: 8px;
  text-align: Left;
  background: #006994;
  flex: 1 6 20%;
  order: 1;
}
header,
footer {
  display: block;
  font-size: 80%;
  font-style: italic;
  color:#fafafa;
  padding: 5px;
  min-height: 10px;
  min-height: 15px;
  border: 8px;
  background-color:#3882C7;
  border:5px solid #fafafa;
}
header {
  background-color:#3882C7;
  border:1px solid #fafafa;
  color:#fafafa;
  font-size:2em;
  height:2.5em;
  padding-left:2em;
  padding-top:1em;
}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main > app,
  #main > nav {
/* Return them to document order */
    order: 1;
  }
  #main > nav,
  header,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
  #main > nav {
    text-align: left;
    order: 0;
  }
}
