body {
  font: 24px Helvetica;
  background: #999;
}
.mainWindow {
  background-color: #d9d9d9;
  border-radius: 30px;
  width: 90%;
  margin: auto;
}
.votingBox{
  padding: 5px;
  border: 1px solid #000;
  background: #dd8;
  flex: 3 1 90%;
  order: 2;
  display: flex;
  flex-flow: row;
}

.squadListA{
  padding: 5px;
  border: 1px solid #000;
  background: #1d8;
  flex: 1 1 50%;
  order: 1;
}

.squadListB{
  padding: 5px;
  border: 1px solid #000;
  background: #1d8;
  flex: 1 1 50%;
  order: 3;
}


.navBar {
  text-align: right;
  padding: 5px;
  border: 1px solid #000;
  background: #ccf;
  flex: 1 6 10%;
  order: 1;
}


header {
  display: block;
  font-size: 50px;
  line-height: 100px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #000;
  background: #feb;
}
footer {
  display: block;
  font-size: 12px;
  padding: 5px;
  min-height: 100px;
  border: 1px solid #000;
  background: #feb;
}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  .mainWindow,
  #page {
    flex-direction: column;
  }
  .squadronbox {
    flex-direction: column;
  }
  #main article {
    order: 2;
  }
  .navBar {
    order: 1;
  }

  .navBarv {
    text-align: left;
    min-height: 50px;
    max-height: 50px;
  }
  footer {
    min-height: 50px;
    max-height: 50px;
  }
  header {
    line-height: 50px;
    min-height: 50px;
    max-height: 50px;
  }
}
