/* Body is like a global catch all.*/
body {
  font: 16px "Comic Sans MS", cursive;
  background: url("Blue-rule.png");
  counter-reset: headnum;
}

p {
  color: black; /* blue */
}

/* Adds a pin before the start of each line */
p:before {
  content: url("Yellow-pin.png");
}

/* The following only effects specific things that I want*/
strong {
  color: #f00; /* red */
  background-color: #ddf; /* pale blue */
  font: 200% serif
}

/*.carrot {
  color: #fa0;  orange
}
*/
.spinach {
  color: green; /* dark green */
}

#first {
  font-style: italic;
  color: blue;
}
#second {
  font-style: italic;
  color: blue;
}

/* numbered paragraphs */
h3 {border-top: 1px solid gray;}

h3.numbered {counter-reset: mynum;}

h3:before {
  content: "(" counter(headnum, upper-latin) ") ";
  counter-increment: headnum;
}

p.numbered:before {
  content: "(" counter(mynum) "): ";
  counter-increment: mynum;
  font-weight: bold;
}

li {
  list-style: lower-roman;
  margin-bottom: 8px;
}

ul  {
  border: 10px solid lightblue;
  width: 100px;
}

/* This is for the crazy table at the bottom*/

#demo-table {
  font: 100% sans-serif;
  background-color: #efe;
  border-collapse: collapse;
  empty-cells: show;
  border: 1px solid #7a7;
}

#demo-table > caption {
  text-align: left;
  font-weight: bold;
  font-size: 200%;
  border-bottom: .2em solid #4ca;
  margin-bottom: .5em;
}


/* basic shared rules */
#demo-table th,
#demo-table td {
  text-align: right;
  padding-right: .5em;
  border: 1px solid lightgray;
}

#demo-table th {
  font-weight: bold;
  padding-left: .5em;
}


/* header */
#demo-table > thead > tr:first-child > th {
  text-align: center;
  color: blue;

}

#demo-table > thead > tr + tr > th {
  font-style: italic;
  color: gray;
}

/* fix size of superscript */
#demo-table sup {
  font-size: 75%;
}

/* body */
#demo-table td {
  background-color: #cef;
  padding:.5em .5em .5em 3em;
  border: 1px solid green;
}

#demo-table tbody th:after {
  content: ":";
}


/* footer */
#demo-table tfoot {
  font-weight: bold;
}

#demo-table tfoot th {
  color: blue;
}

#demo-table tfoot th:after {
  content: ":";
}

#demo-table > tfoot td {
  background-color: #cee;
}

#demo-table > tfoot > tr:first-child td {
  border-top: .2em solid #7a7;
}
