
#main {
  min-height: 800px;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: row;
}
#main > app {
  padding: 15px;
  border: 8px double;
  text-align: Left;
  background: #add8e6;
  flex: 3 1 80%;
  order: 2;
}
#main > nav {
  padding: 5px;
  border: 8px;
  text-align: Left;
  background: #006994;
  flex: 1 6 20%;
  order: 1;
}
header,
footer {
  display: block;
  font-size: 80%;
  font-style: italic;
  padding: 5px;
  min-height: 10px;
  min-height: 15px;
  border: 8px;
  background: #feb;
}
header {
  background-color:#3882C7;
  border:1px solid #fafafa;
  color:#fafafa;
  font-size:2em;
  height:2.5em;
  padding-left:2em;
  padding-top:1em;
}
/* Too narrow to support three columns */
@media all and (max-width: 640px) {
  #main,
  #page {
    flex-direction: column;
  }
  #main > app,
  #main > nav {
/* Return them to document order */
    order: 1;
  }
  #main > nav,
  header,
  footer {
    min-height: 50px;
    max-height: 50px;
  }
  #main > nav {
    text-align: left;
    order: 0;
  }
}
